/* CSS variables ------------------------------------------------- */

html{ 
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none; 
}
p,a,h1,h2,h3,h4,h5,h6,div,br,li,td,article{
    -o-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}


/* global styles ------------------------------------------------- */

:root {
    /* --selected-buton: #2BA49F; */
}
  
body {
    margin: 0;
}

form {
    display: inline;
}

.navbar {
    width: 650px;
    height: 270px;
    background-color: #FFFAE4;
    border-radius: 200px;
    display: table;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.buttons {
    text-align:center;
    display:table-cell;
    vertical-align: middle;
}


.btn {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #EDE3CA;
    margin: 10px;
}

.btn:hover {
    background-color: #2BA49F;

    /* TODO: change size slightly */
}


.btn:root {
    background-color: #2BA49F;
}





.left-side {  
    position: absolute;
    top: 0;
    right: 50%; 
    width: 50%; 
    height: 100%;
    /* background-position: 0 0; 
    background-repeat: no-repeat; 
    background-size: cover; */
}

.right-side {  
    position: absolute;
    top: 0;
    left: 50%; 
    width: 50%; 
    height: 100%;
}

.wallpaper {  
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    /*adjust s value for speed*/
    animation: animatedBackground 0s linear infinite; 
    /* 500000ms */
}


@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1000px;
    }
}



.panel-partial {
    width: 80%;
    height: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 40px;
    text-align: left;

    display: table;
}

.btn-long{
    opacity: 1;
    width: 300px;
    height: 100px;
    border-radius: 200px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;  
}



.panel-full {
    /* // opacity: 0.91; */

    width: 80%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 40px;
    text-align: left;

    display: table;
}

.titlebox {
    opacity: 1;
    width: 300px;
    height: 100px;
    border-radius: 200px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;  

    position: absolute;
    left: -40px;
    top: -40px;
    transform: rotate(-13deg);
}

.textbox {
    width: 80%;
    margin: 0 auto;
    margin-top: 10;

}





@font-face {
    font-family: 'animalCrossing';
    src: url(fonts/nintendoP_Humming-E_002pr.otf);
}



p2 {
    font-size: 31pt;
    font-family: animalCrossing;
    color: #FFF;
}

p, li, .tooltip {
    font-size: 15pt;
    font-family: animalCrossing;
    color: #FFF;
    line-height: 1.5;
}


.animation {
    display: block;
    height: 502px;
    width: 522px;
    background: url("animations/clapping.gif") no-repeat center center;
    margin: auto;
}




/* NAVIGATION BAR ------------------------------------------------- */

.tooltip {
    position:relative; /* making the .tooltip span a container for the tooltip text */
}

.tooltip:before {
    content: attr(data-text); /* here's the magic */
    position:absolute;
    transform:translateX(-20%);
    z-index: 1;
    top: 50%;

    margin-top:10px;

    width:200px;
    padding:10px;
    border-radius:10px;
    background:#2BA49F;
    color: #fff;
    text-align:center;
    display:none;
  }

  .tooltip:hover:before {
    display:block;
  }

  .tooltip:after {
    content: "";
    position: absolute;
    
    /* position tooltip correctly */
    /* transform:translateX(20%); */
    /* left:100%; */
    margin-left:12px;

    /* vertically center */
    top:50%;
    transform:translateY(-50%);


   
    /* the arrow */
    border: 50px solid #000;
    border-color: transparent transparent #2BA49F transparent;
    
    display:none;
  }
  .tooltip:hover:before, .tooltip:hover:after {
    display:block;
  }




li:not(:last-child) {
    margin-bottom: 20px;
}

