/* Global Styles ------------------------------------------------- */

:root {
    --wallpaper-color: #f4f4f2;
    --orange-color: #ed4a29;
    --black-color: #212529;
}

@font-face {
    font-family: 'roboto-light';
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'roboto-thin';
    src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'migra-eb';
    src: url(fonts/Migra-Extrabold.otf);
}

@font-face {
    font-family: 'inter-el';
    src: url(fonts/Inter-ExtraLight.ttf);
}

body {
    margin: 0 !important;
    background-color: var(--wallpaper-color) !important;
    font-size: 12pt !important;
    font-family: roboto-thin !important;
}



h6 {
    font-family: inter-el;
    font-size: 15pt !important;
}

h2 {
    font-family: migra-eb;
    font-size: 50pt !important;
}

p {
    font-family: roboto-thin !important;
    font-size: 15pt !important;
}


    /* font-size: 31pt;
    font-family: animalCrossing;
    color: #FFF; */

/* Navigation Bar ------------------------------------------------- */

@media (min-width: 768px) {
    .navbar-brand.abs
    {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

.navbar .navbar-nav .nav-link{
    color: var(--black-color);
}

.navbar .navbar-nav .nav-link:hover{
    color: var(--orange-color);
}

.brand {
    color: var(--black-color);

    /* margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}

.brand:hover {
    color: var(--orange-color);
}

/* HOME ------------------------------------------------- */

.card {
    /* -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px #222);  */
    /* width: 400px;
    height: 400px; */
}

