/* CSS variables ------------------------------------------------- */
/* global styles ------------------------------------------------- */

:root {
    /* --selected-buton: #2BA49F; */
}
  
body {
    margin: 0;
}

form {
    display: inline;
}

.navbar {
    width: 600px;
    height:300px;
    background-color: #FFFAE4;
    border-radius: 200px;
    display: table;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.buttons {
    text-align:center;
    display:table-cell;
    vertical-align: middle;
}


.btn {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #EDE3CA;
    margin: 10px;
}

.left-side {  
    position: absolute;
    top: 0;
    right: 50%; 
    width: 50%; 
    height: 100%;
    /* background-image: url('patterns/blue.png'); */
    background-position: 0 0; 
    background-repeat:no-repeat; 
    background-size: cover;
}


.right-side {  
    position: absolute;
    top: 0;
    left: 50%; 
    width: 50%; 
    height: 100%;
    background-image: url('patterns/orange.png');
    background-position: 0 0; 
    background-repeat:no-repeat; 
    background-size: cover;



}

.panel-full {
    /* // opacity: 0.91; */

    width: 80%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 40px;
    text-align: left;

    display: table;
}

.titlebox {
    opacity: 1;
    width: 300px;
    height: 100px;
    border-radius: 200px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;  

    position: absolute;
    left: -40px;
    top: -40px;
    transform: rotate(-13deg);
}

.textbox {
    width: 80%;
    margin: 0 auto;
    margin-top: 10;
    
}





@font-face {
    font-family: 'animalCrossing';
    src: url(fonts/nintendoP_Humming-E_002pr.otf);
}

p2 {
    font-size: 31pt;
    font-family: animalCrossing;
    color: #FFF;
}

p {
    font-size: 15pt;
    font-family: animalCrossing;
    color: #FFF;
    line-height: 1.5;
}
